# Project Overview -(Phase 1 Project)
### Using exploratory data analysis to generate insights for a business stakeholder.

## 1. The Business problem
### a) Specifying the Business problem
> Microsoft sees all the big companies creating original video content and they want to get in on the fun. 
> They have decided to create a new movie studio, but they donâ€™t know anything about creating movies.

>**Problem Statement:** You are charged with exploring what types of films are currently doing the best at the box office. You must then >translate those findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create.

### b) Defining the Metric for Success
To define the metric for success in this project, the following factors should be considered:

1. `Box Office Revenue` : The primary metric for success in the movie industry is the box office revenue generated by a film. This analysis should aim to identify the types of films that have been most successful in terms of generating high box office revenue.

2. `Audience Reception` : While revenue is crucial, the audience's reception and satisfaction are also important indicators of success. Factors such as ratings, reviews, and audience engagement can provide insights into the types of films that resonate well with viewers.

3. `Return on Investment (ROI)`: Another important metric is the return on investment, which measures the profitability of a film. It is calculated by dividing the film's total revenue by its production budget. Identifying films with high ROI can provide valuable insights for Microsoft's new movie studio to prioritize investments.

Overall, success can be measured by identifying the most profitable film genres, optimizing ROI, satisfying audience preferences, gaining market share, and outperforming competitors. 

### c) Understanding the context
In the given context, Microsoft has decided to venture into the movie industry and create its own movie studio. However, they lack knowledge and experience in the field of movie production.

The objective is to analyze the existing movie landscape and provide actionable insights to the head of Microsoft's new movie studio. These insights will help Microsoft make informed decisions on the types of films they should create to maximize their chances of success.


### d) Recording the Experimental Design

 The  following experimental design will be followed in order to conduct the exploratory data analysis and generate insights for Microsoft's new movie studio:

1. `Data Collection`: Gathering of  relevant data on movie box office performance, including information on film genres, box office revenue, production budgets, ratings, and other relevant variables. 

2. `Data Cleaning and Preparation`: Cleaning the collected data to ensure its quality and reliability. This step involves handling missing values, removing duplicates, standardizing variables, and transforming data if necessary. 

3. `Data Exploration and Descriptive Analysis`: Performing exploratory data analysis to gain initial insights into the dataset. This can include examining the distribution of box office revenue, analyzing the relationship between revenue and different variables (e.g., genres, production budgets), identifying trends or patterns in film performance, and summarizing descriptive statistics.

4. `Analysis and Visualization` : Utilizing appropriate statistical techniques and visualization tools to analyze the data and uncover insights. Explore the relationships between different variables, identify correlations or trends, and visualize the findings to facilitate understanding and interpretation.

6. `Insights Generation` : Based on the analysis results, generating actionable insights that Microsoft's movie studio can be used to make informed decisions. Identifying  the film genres that have performed well in terms of revenue and ROI, highlight audience preferences and trends, and suggest potential opportunities or gaps in the market.

7. `Reporting and Presentation` : Preparing a comprehensive report or presentation summarizing the findings, insights, and recommendations.
using visualizations, charts, and tables to present the results effectively.

## 2. Reading The data
For this analysis We will be using Three datasets

1. `title.basics.csv` - To get to know various Movies and their genres
2. `tmdb.movies.csv` -To get to know various Movies and their popularity
3. `tn.movie_budgets.csv` - To get the revenue and production budget

In [51]:
# Importing the necessary libraries
import numpy as np
import pandas as pd

In [52]:
dataset1= pd.read_csv('Data-files/title.basics.csv')
dataset1.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [53]:
dataset2= pd.read_csv('Data-files/tmdb.movies.csv')
dataset2.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [54]:
dataset3= pd.read_csv('Data-files/tn.movie_budgets.csv')
dataset3.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"